<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/maps.css" rel="stylesheet" >
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.sd-intelligence.com/"><img src="/img/SDI-LOGO.png" height="35" width="100"></a>
            </div>
            <!-- Header -->

            <ul class="nav navbar-top-links navbar-right">
				<li class="nav-item active">
					<a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">SDI <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu dropdown-user">
					    <li><a href="/who">¿Quienes Somos?</a></li>
                        <li><a href="/mision">Mision</a></li>
                        <li><a href="/values">Valores</a></li>
                    </ul>
				</li>
				<li class="nav-item">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">¿Qué Hacemos? <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu dropdown-user">
					    <li><a href="/intro">Introducción</a></li>
                        <li><a href="/services">Servicios</a></li>
                        <li><a href="/solutions">Soluciones</a></li>
                    </ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact">Contacto</a>
				</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- Menu -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Buscar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Bar&oacute;metro</a>
                        </li>
                        
                        <li>
                            <a href="/gestion"><i class="fa fa-gears fa-fw"></i> Gesti&oacute;n de Procesos</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- Sidebar -->
        </nav>

        <div id="page-wrapper">
			<br/><br/>
			{% autoescape false %}{{ graph }}{% endautoescape %}
			{% if map %}
			    <p style="text-align:center;"><img src="/img/mapacali.jpg" alt="" usemap="#Map" /></p>
                <map name="Map" id="Map">
                    <area target="" alt="Comuna 1" title="Comuna 1" href="/commune/1" coords="19,148,66,130" shape="rect">
                    <area target="" alt="Comuna 2" title="Comuna 2" href="/commune/2" coords="127,68,148,104" shape="rect">
                    <area target="" alt="Comuna 3" title="Comuna 3" href="/commune/3" coords="95,144,128,156" shape="rect">
                    <area target="" alt="Comuna 4" title="Comuna 4" href="/commune/4" coords="154,97,178,119" shape="rect">
                    <area target="" alt="Comuna 5" title="Comuna 5" href="/commune/5" coords="189,80,213,111" shape="rect">
                    <area target="" alt="Comuna 6" title="Comuna 6" href="/commune/6" coords="204,35,226,64" shape="rect">
                    <area target="" alt="Comuna 7" title="Comuna 7" href="/commune/7" coords="215,118,241,145" shape="rect">
                    <area target="" alt="Comuna 8" title="Comuna 8" href="/commune/8" coords="156,139,180,166" shape="rect">
                    <area target="" alt="Comuna 9" title="Comuna 9" href="/commune/9" coords="133,175,148,144" shape="rect">
                    <area target="" alt="Comuna 10" title="Comuna 10" href="/commune/10" coords="137,205,119,226" shape="rect">
                    <area target="" alt="Comuna 11" title="Comuna 11" href="/commune/11" coords="151,184,165,217" shape="rect">
                    <area target="" alt="Comuna 12" title="Comuna 12" href="/commune/12" coords="175,172,191,191" shape="rect">
                    <area target="" alt="Comuna 13" title="Comuna 13" href="/commune/13" coords="201,178,215,210" shape="rect">
                    <area target="" alt="Comuna 14" title="Comuna 14" href="/commune/14" coords="235,178,254,222" shape="rect">
                    <area target="" alt="Comuna 15" title="Comuna 15" href="/commune/15" coords="163,256,192,273" shape="rect">
                    <area target="" alt="Comuna 16" title="Comuna 16" href="/commune/16" coords="154,229,172,243" shape="rect">
                    <area target="" alt="Comuna 17" title="Comuna 17" href="/commune/17" coords="101,285,142,328" shape="rect">
                    <area target="" alt="Comuna 18" title="Comuna 18" href="/commune/18" coords="65,272,88,308" shape="rect">
                    <area target="" alt="Comuna 19" title="Comuna 19" href="/commune/19" coords="78,179,106,242" shape="rect">
                    <area target="" alt="Comuna 20" title="Comuna 20" href="/commune/20" coords="44,194,68,225" shape="rect">
                    <area target="" alt="Comuna 21" title="Comuna 21" href="/commune/21" coords="239,231,270,252" shape="rect">
                    <area target="" alt="Comuna 22" title="Comuna 22" href="/commune/22" coords="83,354,133,397" shape="rect">
                </map>
			{% endif %}
			{% if communeId %}
			    <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Barrio
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        {% autoescape false %}{{ neighborhood }}{% endautoescape %}
                    </ul>
                </div>
	        {% endif %}
			{% if widgets %}
		        <div class="row">
    		        <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-building fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Infraestructura</div>
                                </div>
                            </div>
                        </div>
                        <a href="/infra">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Eventos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/events">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Organizaciones Deportivas</div>
                                </div>
                            </div>
                        </div>
                        <a href="/organizations">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-group fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Acceso y Permanencia</div>
                                </div>
                            </div>
                        </div>
                        <a href="/access">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-gears fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Procesos &nbsp; Deportivos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/processes">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Tr&aacute;mites</div>
                                </div>
                            </div>
                        </div>
                        <a href="/procedures">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                </div>
			{% endif %}
			{% if widgetsProcesses %}
		        <div class="row">
    		        <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Talento Humano</div>
                                </div>
                            </div>
                        </div>
                        <a href="/talento">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dollar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Planeaci&oacute;n Financiera</div>
                                </div>
                            </div>
                        </div>
                        <a href="/planfin">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
    		        <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-th-list fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Programas y Proyectos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/progproj">
                            <div class="panel-footer">
                                <span class="pull-left">Ver</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                </div>
			{% endif %}
			{% if grid %}
			    <div class="panel panel-primary">
                    <div class="panel-heading">
                        Datos Generales
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/types"><i class="fa fa-bar-chart-o fa-fw"></i> Gr&aacute;ficos</a></li>
                                    <li><a href="#"><i class="fa fa-download fa-fw"></i> Exportar</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/filter"><i class="fa fa-filter fa-fw"></i> Filtrar</a></li>
                                    {% if neighborhoodId %}
                                    <li><a href="/infra"><i class="fa fa-angle-left fa-fw"></i> Quitar Filtro</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr align="center">
                                        {% for i in neighborhoodData %}
                                            {% if loop.first %}
                                                {% for h in i.infra.headers %}
                                                    <th>{{ h }}</th>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in neighborhoodData %}
                                        {% for r in i.infra.rows %}
                                           <tr>
                                               <td>{{ r.name }}</td>
                                               <td>{{ r.value }}</td>
                                               <td>{{ r.typeInfra }}</td>
                                               <td>{{ r.active }}</td>
                                               <td>{{ r.passive }}</td>
                                               <td>{{ r.direccion }}</td>
                                               <td>{{ r.extension }}</td>
                                               <td>{{ r.responsable }}</td>
                                               <td>{{ r.caracteristicas }}</td>
                                           </tr> 
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
			{% endif %}
			{% if infraGraph %}
			    <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li {% if type == 'types' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/types">Tipos de Escenarios</a></li>
                        <li {% if type == 'inv' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/inv">Situación Financiera</a></li>
                        <li {% if type == 'end' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/end">Presupuestos vs Gasto</a></li>
                        <li {% if type == 'uso' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/uso">Uso del Escenario</a></li>
                        <li {% if type == 'calidad' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/calidad">Calidad</a></li>
                        <li {% if type == 'acceso' %}class="active"{% endif %}><a href="/neighborhood{% if neighborhoodId %}/{{ neighborhoodId }}{% endif %}/graph/acceso">Acceso</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="type-pills">
                            {% if type == 'types' %}
                            <br/>
                                <div id="pieContainer"></div>
                            {% endif %}
                            {% if type == 'inv' %}
                            <br/>
                                <div id="stackedbarContainer"></div>
                            {% endif %}
                            {% if type == 'end' %}
                            <br/>
                                <div id="spiderContainer"></div>
                            {% endif %}
                            {% if type == 'uso' %}
                            <br/>
                                <div id="usoContainer"></div>
                            {% endif %}
                            {% if type == 'calidad' %}
                            <br/>
                                <div id="calidadContainer"></div>
                            {% endif %}
                            {% if type == 'acceso' %}
                            <br/>
                                <div id="usoContainer"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
			    <br/>
			    <a href="{% if neighborhoodId %}/neighborhood/{{ neighborhoodId }}{% else %}/infra{% endif %}"><button type="button" class="btn btn-primary btn-circle"><i class="fa fa-arrow-left"></i></button></a>
			{% endif %}
		</div>
    </div>
    <!-- wrapper -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
    
    <!-- <script src="https://code.highcharts.com/maps/highmaps.js"></script> -->
    <!-- <script src="https://code.highcharts.com/maps/modules/exporting.js"></script> -->
    <!-- <script src="https://code.highcharts.com/mapdata/countries/co/co-all.js"></script> -->
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
    <!-- <script src="/js/highmaps.js"></script> -->
    <!-- <script src="/js/highbubble.js"></script> -->
    <!-- <script src="/js/highpie.js"></script> -->
    {% if infraGraph %}
    {% if type == 'types' %}
    <script>
    Highcharts.chart('pieContainer', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Tipos de Escenarios'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Tipo',
            colorByPoint: true,
            data: [{% for i in infras %}{
                name: '{{ i._id }}',
                y: {{ (i.total * 100) / countInfras }}
            }{% if not loop.last %},{% endif %}{% endfor %}]
        }]
    });
    </script>
    {% endif %}
    {% if type == 'inv' %}
    <script>
    Highcharts.chart('stackedbarContainer', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Activos vs Pasivos'
        },
        xAxis: {
            categories: [{% for i in infras %}{% for j in i.infra.rows %}'{{ j.name }}'{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'Activos',
            data: [{% for i in infras %}{% for j in i.infra.rows %}{{ j.active }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        }, {
            name: 'Pasivos',
            data: [{% for i in infras %}{% for j in i.infra.rows %}{{ j.passive }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        }]
    });
    </script>
    {% endif %}
    {% if type == 'end' %}
    <script>
    Highcharts.chart('spiderContainer', {
        chart: {
            polar: true,
            type: 'line'
        },
    
        title: {
            text: 'Presupuesto vs Gasto',
            x: -80
        },
    
        pane: {
            size: '80%'
        },
    
        xAxis: {
            categories: ['Comercial', 'Marketing', 'Mantenimiento', 'Atención al Cliente',
                    'Capacitación', 'Administración'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
    
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
    
        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },
    
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },
    
        series: [{
            name: 'Presupuesto',
            data: [
                {{ presComercial }},
        		{{ presMarketing }},
        		{{ presMantenimiento }},
        		{{ presAtencionCliente }},
        		{{ presCapacitacion }},
        		{{ presAdministracion }}],
            pointPlacement: 'on'
        }, {
            name: 'Gasto',
            data: [
                {{ gasComercial }},
        		{{ gasMarketing }},
        		{{ gasMantenimiento }},
        		{{ gasAtencionCliente }},
        		{{ gasCapacitacion }},
        		{{ gasAdministracion }}],
            pointPlacement: 'on'
        }]
    });
    </script>
    {% endif %}
    {% if type == 'calidad' %}
    <script>
    Highcharts.chart('calidadContainer', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Calidad'
        },
        xAxis: {
            categories: [{% for i in infras %}{% for j in i.infra.rows %}'{{ j.name }}'{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'Buena',
            data: [{% for i in infras %}{% for j in i.infra.rows %}{{ j.calidad.buena }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        }, {
            name: 'Regular',
            data: [{% for i in infras %}{% for j in i.infra.rows %}{{ j.calidad.regular }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        }, {
            name: 'Mala',
            data: [{% for i in infras %}{% for j in i.infra.rows %}{{ j.calidad.mala }}{% if not loop.last %},{% endif %}{% endfor %}{% if not loop.last %},{% endif %}{% endfor %}]
        }]
    });
    </script>
    {% endif %}
    {% endif %}
</body>
</html>
